@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Roboto|Unica+One');
* {
  margin: 0
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  height: 100vh;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
}

a {
  color: #F95759;
  font-weight: bold;
}

a:hover {
  color: #420093;
  font-weight: bold;
  text-decoration: none;
}

.header {
  border-top: 6px solid black;
  margin: 0;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #22004c 13%, #420093 38%, #af0078 74%, #fc5555 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo {
  height: 100px;
  position: relative
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin: 0
}

nav ul li a {
  margin: 20px;
  padding-bottom: 6px;
  border: 1px solid transparent;
  transition: border 0.5s ease-in;
  letter-spacing: 3px;
  font-size: 14px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

nav ul li a:hover {
  color: white;
  text-decoration: none;
  border-bottom: 1px solid white
}

a:focus {
  outline: none;
  text-decoration: none;
}

.breadcrumbs {
  background: #000;
  width: 100vw;
  height: 40px;
  box-shadow: -1px 10px 53px 0px rgba(0, 0, 0, 0.75);
}

nav ul li a:active {
  color: white;
  text-decoration: none;
  border: none;
}

nav ul li a:visited {
  color: white;
  border: none;
  text-decoration: none;
}

.card {
  margin: 25px;
  width: 225px;
  height: 300px;
  letter-spacing: 1px;
  font-size: 14px;
  background: white;
  border: 1px solid lightgrey;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  box-shadow: -1px 10px 53px -21px rgba(0, 0, 0, 0.75);
}

p {
  padding: 5px;
}

p.name {
  font-size: 20px;
}

.backlink {
  display: inline-block;
}

.back {
  margin-left: 26%;
  padding: 15px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  margin: 0 50px;
}

.profile-pic {
  height: 125px;
  border: 2px solid grey;
  border-radius: 50%;
  margin: 10px
}

.profile-pic-lg {
  height: 200px;
  border: 2px solid grey;
  border-radius: 50%;
  margin: 10px
}

.card-btn {
  padding: 10px;
  margin: 10px;
  font-size: 16px;
  background: none;
  border: 1px solid transparent;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
  color: #F95759;
  outline: none;
  transition: all 1s;
  display: inline;
}

.dropdown {
  display: inline;
}

.card-btn:hover {
  border: 1px solid #F95759;
  display: inline;
}

.detail-card {
  width: 50vw;
  letter-spacing: 1px;
  font-size: 14px;
  background: white;
  border: 1px solid lightgrey;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  text-transform: uppercase;
  box-shadow: -1px 10px 53px -21px rgba(0, 0, 0, 0.75);
}

.details {
  display: flex;
  flex-direction: column;
}

.add-card {
  width: 40vw;
  letter-spacing: 1px;
  font-size: 14px;
  background: white;
  border: 1px solid lightgrey;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  text-transform: uppercase;
  box-shadow: -1px 10px 53px -21px rgba(0, 0, 0, 0.75);
}

ul.student-list {
  text-align: left;
  list-style: none;
}

.glyphicon {
    padding: 10px;
    font-size: 15px;
}

.wrapper {
  margin-top: 40px;
}

.input-control {
  display: block;
  padding: 10px;
  font-size: 20px;
  outline: none;
  margin: 10px;
  width: 100%;
}